.news-card__text {
    font-family: Roboto-light, sans-serif;
    font-size: 16px;
    line-height: 22px;

    /* margin: 0 16px 5px 16px; */
    margin: 0 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;    
}

/* @media screen and (min-width: 768px) {
    .news-card__text {
        margin: 0 16px 0 16px;
    }
}

@media screen and (min-width: 1440px) {
    .news-card__text {
        margin: 0 24px 0 24px;
    }
} */

