.github__form {
   margin: 0 16px;

   text-align: center;
}

.github__form_go {
    display: none; 
 }

 @media screen and (min-width: 768px) {
    .github__form {
        display: none;
    }

    .github__form_go {
        display: block;

        margin-right: 40px;
        margin-top: 11px;
     }
}

@media screen and (max-width: 768px) {
    .github__form {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 1440px) {
    .github__form_go {
        margin-right: 104px;
     }
}