.search__label {
    margin: 0;

    font-family: Robotoslab-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    color: #ffffff;
}

@media screen and (min-width: 1440px) {
    .search__label {
        font-size: 60px;
        line-height: 64px;  
    }
}