.github__button {
    max-width: 288px;

    background: #F5F6F7;
    color: #1A1B22; 

    border: 1px solid #1A1B22;
    border-radius: 80px;  
}

.github__form > .github__button:hover {
    color: gray;
    border: 2px solid gray;
}

@media screen and (min-width: 768px) {
    .github__button {
        border: 0;

        height: auto;
        width: 180px;
    }

    .github__button:hover {
        text-decoration: underline;
    
        color: #444444;
    }

    .github__button::after {
        content: url("../../../images/arrow-r.png");

        position: relative;
        top: 1px;
        left: 7px;
    }
}