.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    height: 100%;

    padding: 20px 0 22px 0;
}

@media screen and (min-width: 768px) {
    .footer__container  {
        align-items: center;

        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    .footer__container  {
        padding: 0;
    }
}