@import url(./__section/root__section.css);

.root {
    background-color: #ffffff;
    min-height: 100vh;

    font-family: Roboto-regular, sans-serif;
    font-style: normal;
    font-weight: normal;
}