@import url(./__button/github__button.css);
@import url(./__form/github__form.css);
@import url(./__title-box/github__title-box.css);
@import url(./__head-box/github__head-box.css);

.github {
    padding: 32px 0;
    background-color: #F5F6F7;
}

@media screen and (min-width: 768px) {
    .github {
        padding: 40px 0 10px 0;
    }
}

@media screen and (min-width: 1440px) {
    .github {
        padding: 72px 0 136px 0;
    }
}