.button {
    font-family: Roboto-regular, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    width: 100%;
    height: 56px;

    border-radius: 100px;

    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0;
}