.search__input-container {
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .search__input-container {
        margin-bottom: 0;
        
        grid-column: 1;
        grid-row: 1;
    }
}