.slider__image {
    /* background: url("../../../images/vasilyy.png") center center no-repeat; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 48px;

    margin-right: 12px;
}

@media screen and (min-width: 1440px) {
    .slider__image  {
        margin-right: 16px;
    }
}