@import url(./__column/footer__column.css);
@import url(./__column/_info/footer__column_info.css);
@import url(./__column/_social/footer__column_social.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__nav-list-item/footer__nav-list-item.css);
@import url(./__nav-list/footer__nav-list.css);
@import url(./__social-item/footer__social-item.css);
@import url(./__social-box/footer__social-box.css);
@import url(./__container/footer__container.css);

.footer {
    position: absolute;
    bottom: 0;

    min-width: 320px;

    background-color: #ffffff;
}

@media screen and (min-width: 768px) {
    .footer {
        height: 64px;
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        height: 80px;

        left: calc((100vw - 1440px) / 2);
    }
}