.footer__column_info {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer__column_info {
        margin: 0 0 0 40px;
    }
}

@media screen and (min-width: 1440px) {
    .footer__column_info {
        margin: 0 0 0 104px;
    }
}