.github__title-box {
    max-width: 185px;

    margin: 0 16px 16px 16px;
}

.github__title-box > .title {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .github__title-box {
        margin: 0 40px 32px 40px;

        max-width: 336px;
    }
}

@media screen and (min-width: 1440px) {
    .github__title-box {
        margin: 0 104px 64px 104px;

        max-width: 60%;
    }
}