.answer__weekly-news {
    font-family: Roboto-light, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;

    text-align: left;
    color: #1A1B22;

    margin: 0 16px 4px 16px;
}

@media screen and (min-width: 768px) {
    .answer__weekly-news {
        margin: 0 40px 4px 40px;
    }
}

@media screen and (min-width: 1440px) {
    .answer__weekly-news {
        margin: 0 104px 4px 104px;
    }
}