.footer__column {
    
}

@media screen and (min-width: 768px) {
    .footer__column {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .footer__column {
        grid-column-gap: 300px;    
    }
}

