<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.about.css %>">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="<%=require('./images/favicon.png')%>">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div class="root">

        <header class="header header_no-bg root__section">
            <div class="heading heading_about">
                <h2 class="heading__title heading__title_color_black">NewsAnalyzer</h2>
                <nav class="heading__nav">
                    <ul class="heading__list">
                        <li class="heading__item"><a class="heading__link" href="./index.html">Главная</a></li>
                        <li class="heading__item active active_color_black"><a class="heading__link" href="./about.html">О проекте</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section class="to-customers root__section">
            <div class="to-customers__container">
                <h2 class="title">Клиентам</h2>
                <p class="text">Этот сайт — дипломный проект студента Яндкс.Практикума. Его цель — показать, чему научился студент, и какими технологиями владеет.</p>
                <p class="text">Вёртска сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и функциальность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
                <p class="text">Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
                <p class="text">При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если посетители — пользователи старых операционных систем у них не будет проблем с отображением. А значит потенциальная аудитория возрастает.</p>
                <p class="text">Проект был проверен экспертами Яндекс.Практикума. И если вашему бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
            </div>
        </section>

        <section class="tech root__section">
            <div class="teach__title-box">
                <h2 class="title">Используемые технологии</h2>
            </div>
            <div class="tech__item-container">
                <div class="tech__item">
                    <p class="tech__title text">HTML</p>
                    <img src="<%=require('./images/html.svg')%>" alt="Логотип html" class="tech__icon">
                </div>
                <div class="tech__item">
                    <p class="tech__title text">CSS</p>
                    <img src="<%=require('./images/css.svg')%>" alt="Логотип css" class="tech__icon">
                </div>
                <div class="tech__item">
                    <p class="tech__title text">Java Script</p>
                    <img src="<%=require('./images/js.svg')%>" alt="Логотип javascript" class="tech__icon">
                </div>
                <div class="tech__item">
                    <p class="tech__title text">Webpack</p>
                    <img src="<%=require('./images/webpack.svg')%>" alt="Логотип webpack" class="tech__icon">
                </div>
            </div>
        </section>

        <section class="author root__section">
            <div class="author__image-box">
                <img src="<%=require('./images/ava.jpeg')%>" alt="Фотография автора" class="author__image">
            </div>
            <div class="author__content">
                <h2 class="title">Об авторе</h2>
                <p class="text">Привет!</p>
                <p class="text">Меня зовут Сергей. Я обучался ремеслу фронтенд-разработки на курсах Яндекс.Практикум. Cдавал проектные работы по блокам HTML/CSS, адаптивной верстки, vanilla JS, REST API.</p>
                <p class="text">Научился разбивать проект на модули и собирать в Webpack. Использовал Flex/Grid, семантические теги, template(documentFragment), keyframes, localStorage, date, асинхронные запросы к API.(Git, AJAX, RegExp, Figma etc.)</p>
            </div>
        </section>

        <section class="github root__section">
            <div class="github__head-box">
                <div class="github__title-box">
                    <h2 class="title">История коммитов из GitHub</h2>
                </div>
                <form class="github__form_go">
                    <button class="github__button button" formaction="https://github.com/BelisonRazer/yandex.praktikum.news-analyzer/commits/master" formtarget="_blank">Открыть в GitHub</button>
                </form>
            </div>
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">

                        <template class="template">
                            <li class="glide__slide">
                                <div class="slider__frame">
                                    <div class="slider__card">
                                        <p class="slider__date"></p>
                                        <div class="slider__info-box">
                                            <div class="slider__image"></div>
                                            <div class="silder__user">
                                                <p class="slider__name"></p>
                                                <p class="slider__email"></p>
                                            </div>
                                        </div>
                                        <p class="slider__text"></p>
                                    </div>
                                </div>
                            </li>
                        </template>

                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
                </div>
                <div class="glide__bullets" data-glide-el="controls[nav]"></div>
            </div>
            <form class="github__form">
                <button class="github__button button" formaction="https://github.com/BelisonRazer/yandex.praktikum.news-analyzer/commits/master" formtarget="_blank">Открыть в GitHub</button>
            </form>
        </section>

        <footer class="footer root__section">
            <div class="footer__container">
                <nav class="footer__column footer__column_info">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-list-item"><a href="./index.html">Главная</a></li>
                        <li class="footer__nav-list-item"><a href="./about.html">О проекте</a></li>
                        <li class="footer__nav-list-item"><a href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a></li>
                    </ul>
                    <p class="footer__copyright">&copy; 2019&nbsp;Supersite</p>
                </nav>
                <div class="footer__column footer__column_social">
                    <div class="footer__social-box">
                        <a href="https://www.facebook.com/profile.php?id=100002924957852&ref=bookmarks" target="_blank" class="footer__link"><img class="footer__social-item"
                                src="<%=require('./images/github-icon.svg')%>" alt="Логотип github"></a>
                        <a href="https://github.com/BelisonRazer" target="_blank" class="footer__link"><img class="footer__social-item"
                                src="<%=require('./images/facebook-icon.svg')%>" alt="Логотип facebook"></a>
                    </div>
                </div>
            </div>               
        </footer>

    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.common.entry %>"></script>
</body>
</html>

<template class="template-bullets">
    <button class="glide__bullet slider__bullet" data-glide-dir="=0"></button>
</template>