@import url(./vendor/fonts.css);

@import url(./common/text/text.css);
@import url(./common/title/title.css);
@import url(./common/active/active.css);
@import url(./common/button/button.css);
@import url(./common/circle-preloader/circle-preloader.css);
@import url(./common/glider/glider.css);
@import url(./common/slider/slider.css);
@import url(./common/error/error.css);

@import url(./blocks/header/header.css);
@import url(./blocks/heading/heading.css);
@import url(./blocks/search/search.css);
@import url(./blocks/author/author.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/root/root.css);
@import url(./blocks/news-card/news-card.css);
@import url(./blocks/to-customers/to-customers.css);
@import url(./blocks/tech/tech.css);
@import url(./blocks/github/github.css);
@import url(./blocks/answer/answer.css);
@import url(./blocks/table/table.css);

@import url(../node_modules/@glidejs/glide/dist/css/glide.core.css);
@import url(../node_modules/@glidejs/glide/dist/css/glide.theme.css);

/* @import url(../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss);
@import url(../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss); */

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

body {
    margin: 0;
}

button, 
button:active, 
button:focus {
    outline: none;
}

a:active, a:hover, a {
    text-decoration:none;
    color: #1A1B22;
}