.news-card__image {
  height: 196px;
}


@media screen and (min-width: 768px) {
  .news-card__image {
      height: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .news-card__image {
      height: 272px;
  }
}