
@import url(./_no-bg/header_no-bg.css);

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../images/bgMin.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
}

@media screen and (min-width: 400px) {
    .header {
        background-image: url("../../images/bg.jpg");
    }
}